@model Timesheets.Models.ProjectViewModel
@{ 
    var departments = ViewBag.Message;
}
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerDept" class="control-label"></label>
                <select asp-for="OwnerDept" class="form-control" asp-items=@departments>
                    <option value="">Please select Owner Department...</option>
                </select>
                <span asp-validation-for="OwnerDept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departments" class="control-label"></label>
                <select asp-for="Departments" class="form-control" asp-items=@departments>
                    <option value="">Please Add Contributing Departments...</option>
                </select>
                <span asp-validation-for="Departments" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
