@model Timesheets.Models.Project
@{ 
    var names = ViewBag.ContributingDepartments;
    var headDepartment = ViewBag.HeadDepartment;
}
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Head Department
        </dt>
        <dd class="col-sm-10">
            @headDepartment
        </dd>
    </dl>
</div>
<div class=" col-sm-12">
    <table class="col-sm-13">
        <tr>
            <th>Contibuting Departments </th>
        </tr>
        @{
            foreach (string s in names)
            {
                <tr>
                            <td>@s</td> 
                </tr>

            }
        }
    </table>
            
 </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
