@model Timesheets.Models.TimesheetEntryViewModel
@{
    var projects = ViewBag.Message;
}
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TimesheetEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="TimesheetEntries">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RelatedProject" class="control-label"></label>
                <select asp-for="RelatedProject" class="form-control" asp-items=@projects>
                    <option value="">Please select Project...</option>
                </select>
                <span asp-validation-for="RelatedProject" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" type="date" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="HoursWorked" class="control-label"></label>
                <input asp-for="HoursWorked" class="form-control" />
                <span asp-validation-for="HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
