


    <div class="container-sm">
        
        <h6 class="@ViewBag.alertClass" role="alert">@ViewBag.title</h6>
        <p >@ViewBag.message</p>
        <a asp-action=@ViewBag.back>Back</a>
    </div>
